[package]
name = "rkv"
version = "0.9.1"
authors = ["Richard Newman <rnewman@twinql.com>", "Nan Jiang <najiang@mozilla.com>", "Myk Melez <myk@mykzilla.org>"]
description = "a simple, humane, typed Rust interface to LMDB"
license = "Apache-2.0"
homepage = "https://github.com/mozilla/rkv"
repository = "https://github.com/mozilla/rkv"
readme = "README.md"
keywords = ["lmdb", "database", "storage"]
categories = ["database"]
edition = "2018"

[features]
default = []
backtrace = ["failure/backtrace", "failure/std"]

[dependencies]
arrayref = "0.3"
bincode = "1.0"
lazy_static = "1.0.2"
lmdb-rkv = "0.11.2"
ordered-float = "1.0"
uuid = "0.7"
serde = "1.0"
serde_derive = "1.0"
url = "1.7.0"

# Get rid of failure's dependency on backtrace. Eventually
# backtrace will move into Rust core, but we don't need it here.
[dependencies.failure]
version = "0.1.2"
default_features = false
features = ["derive"]

[dev-dependencies]
byteorder = "1"
tempfile = "3"
